# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf

.DS_STORE
.gitbook/assets/Capture d’écran 2025-06-10 à 11.47.52 1.png
.gitbook/assets/Capture d’écran 2025-06-10 à 12.20.32 1.png
.gitbook/assets/Capture d’écran 2025-06-10 à 12.56.11 1.png
.gitbook/assets/Capture d’écran 2025-06-10 à 17.41.52 1.png
.gitbook/assets/Capture d’écran 2025-06-10 à 17.42.03 1.png
.gitbook/assets/Capture d’écran 2025-06-10 à 17.42.21 1.png
.gitbook/assets/Capture d’écran 2025-06-10 à 17.42.59 1.png
.gitbook/assets/Capture d’écran 2025-06-10 à 17.43.49 1.png
